.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .spinner {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border-width: 3px;
    }
}

@media (max-width: 600px) {
    .spinner {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border-width: 2px;
    }
}